<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Activate or deactivate the plugin for certain sales channels</title>

        <input-field type="bool">
            <name>altShippingAddressActive</name>
            <label lang="en-GB">Enable change of delivery address via an additional form.</label>
            <label lang="de-DE">Änderung der Lieferadresse über ein zusätzliches Formular ermöglichen.</label>
        </input-field>

        <input-field type="bool">
            <name>altShippingAddressChangeName</name>
            <label lang="en-GB">Enable change of recipient name as well.</label>
            <label lang="de-DE">Änderung des Empfänger-Namen ebenfalls ermöglichen.</label>
        </input-field>
    </card>

</config>
